.header {
  text-align: right;
  margin-right: 5%;
}

.description {
  text-align: right;
  margin-right: 5%;
}

.cart {
  margin-left: 5%;
}

.cart > ul {
  list-style: none;
  padding-left: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
